.war-torn{
    text-align: center;
}

.fond-header{
    font-weight: normal;
    text-transform: uppercase;
    font-size: 3em;
    word-wrap: break-word;
}

.fond-text{
    font-size: 1.35em;
}

.fond-text2{
    font-size: 1em;
    color: #73A6B1;
}